@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Grand+Hotel&family=Sacramento&family=Yeseva+One&display=swap');

.App {
  margin: 0;
  text-align: center;
  width: 100%;
}

h1 {
  color: white;
}

ul {
  list-style-type: none;
}

button {
  background-color: #e7e7e7;
  color: black;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2px;
}

button:hover {
  color: white;
  background-color: rgb(142, 153, 165);
}

label {
  color: white;
}

#nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
}

#nav li {
  float: left;
}

#nav li a:hover {
  color: rgb(173, 216, 230);
}

#nav li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  border-right: 1px solid #ccc;
}

#nav li#logo {
  /* font-family: 'Sacramento', cursive; */
  font-family: 'Grand Hotel', cursive;
  float: right;
  color: white;
  font-weight: bold;
  font-size: 40px;
  padding: 3px 50px 5px 0px;
}
