@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Cabin+Sketch&family=Grand+Hotel&family=Sacramento&family=Yeseva+One&display=swap');

.App {
  margin: 0;
  text-align: center;
  width: 100%;
}

.body {
  padding: 50px 50px 10px 50px;
}

h1 {
  color: white;
}

ul {
  list-style-type: none;
}

button {
  background-color: seashell;
  color: black;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2px;
}

button:hover {
  color: white;
  background-color:rgb(255, 169, 134);
}

label {
  color: white;
}

#nav {
  width: 100%;
  float: left;
  padding: 0;
  list-style: none;
  margin: 5px 0px 0px 0px;
}

#nav li {
  float: left;
}

#nav li a:hover {
  color: rgb(173, 216, 230);
}

#nav li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  border-right: 1px solid lightsalmon;
}

#line {
  color: black
}

#nav li.logo {
  font-family: 'Grand Hotel', cursive;
  float: right;
  color: rgb(173, 216, 230);
  font-weight: bold;
  font-size: 42px;
  padding: 0px 50px 10px 50px;
}

#nav li.logo:hover {
  color: lightsalmon;
}

hr {
  margin: 20px 20px 20px 20px;
}

.headertext {
  color: white;
  font-family: 'Abhaya Libre', serif;
  font-size: 38px;
}

.signuplogin {
  color: white;
  font-family: 'Abhaya Libre', serif;
  font-size: 28px;
}

.field {
  margin: 0;
  text-align: left;
}

.submit:hover {
  color: white;
  background-color: LightSlateGrey;
}