.App {
  margin: 0;
  text-align: center;
  width: 100%;
}

h1 {
  color: white;
}

ul {
  list-style-type: none;
}

button {
  background-color: #e7e7e7;
  color: black;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2px;
}

button:hover {
  color: white;
  background-color: slategray;
}

label {
  color: white;
}

#nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: while;
  border-right: 1px solid #ccc;
}

#nav li a:hover {
  color: rgb(173, 216, 230);
}

#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  border-right: 1px solid #ccc;
}

/* #footer {
  display: block;
  color:white;
  font-size: 12px;
  width: 100%;
  border-top: 1px solid LightSlateGray;
  padding: 10px 0px 0px 0px;
  width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
  list-style: none; 
} */
